body{
    background: linear-gradient(
        90deg,
        rgb(0, 255, 217),
        #00a2ff,
        rgb(70, 37, 255),
        #5900ff)
}
.avatar {
    width: 96%;
}
.video {
    width: 95%;
    box-shadow:0 0 10px rgb(189, 172, 255);
    
}
.main {
    border-radius: 1%;
    border: solid;
    border-color: rgb(210, 210, 210);
    background-color: rgb(214, 236, 255);
    border-width: 4px;
    width: 95%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.man {
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    margin-left: 23px;
}
.man-wrapper {
    font-size: smaller;
    display: flex;
    margin-top: 5px;
    background-color: rgb(210, 210, 210);
    padding-left: 35px;
    padding-bottom: 15px;
}
.p{
    margin-top: 30px;
    font-weight: 800;
    margin-right: 60px;
}
.description{
    color: #3c00ff;
    text-decoration: underline;
    display: flex;
    width: 95%;
    background-color: rgb(210, 210, 210);
    padding-left: 5%;
    font-size: smaller;
    margin-top: -10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.title{
    font-size: 26px;
    margin-left: 30px;
}
.t-v{
    margin-top: 20px;
    border: solid;
    border-width: 2px;
    border-color: #6e6e6e;
    border-radius: 1%;
    background-color: rgb(191, 191, 191);
}
.date{
    font-size: smaller;
}
.hr{
    border: none;
    border-top: 5px solid rgb(210, 210, 210);
    overflow: visible;
    text-align: center;
}  
.special-hr{
    height: 124px;
    align-items: baseline;
    width: 0;
    border: 2px solid rgb(214, 236, 255);
    margin-top: 0;
    margin-bottom: -20px;
    margin-left: 12px;
}
.mn{
    margin-left: -25px;
}